<?xml version="1.0" encoding="UTF-8"?>
<!-- CI settings.xml: credentials come from env vars (set from GitHub secrets in the workflow).
     Maven interpolates ${env.VAR} at runtime, so no secrets are stored in this file. -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>anypoint-exchange-v3</id>
            <username>${env.ANYPOINT_USERNAME}</username>
            <password>${env.ANYPOINT_PASSWORD}</password>
        </server>
        <server>
            <id>nexus-repo</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>mule-repos</id>
            <repositories>
                <repository>
                    <id>anypoint-exchange-v3</id>
                    <name>Anypoint Exchange</name>
                    <url>https://maven.anypoint.mulesoft.com/api/v3/maven</url>
                </repository>
                <repository>
                    <id>mulesoft-releases</id>
                    <name>MuleSoft Releases</name>
                    <url>https://repository.mulesoft.org/releases/</url>
                </repository>
                <repository>
                    <id>nexus-repo</id>
                    <name>MuleSoft Enterprise Releases</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>mule-repos</activeProfile>
    </activeProfiles>

</settings>
